@import "vars";
@import "fonts";
@import "libs";

::placeholder {
	color: #666;
}

::selection {
	background-color: $accent;
	color: #fff;
}

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 1.65;
	font-family: $default-font;
	overflow-x: hidden;
	color: $text;
	letter-spacing: 1.5px;
	background-color: #000;
	input, textarea {
		border: #666 1px solid;
		outline: none;
		&:focus:required:invalid {
			border-color: red;
		}
		&:required:valid {
			border-color: green;
		}
	}
}
a {
	text-decoration: none;
	color: inherit;
	&:hover {
		text-decoration: none;
	color: inherit;
	}
}
.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	&.img-width {
		width: 100%;
	}
}

.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

b, strong {
	font-weight: bold;
}
ul,ol {
	margin: 0;
	padding: 0;
	list-style-position: inside;
	margin-left: 30px;
	li {
		list-style-type: disc;
	}
}
.button {
	height: 58px;
	line-height: 54px;
	background-color: $accent;
	color: #fff;
	font-size: 38px;
	font-family: "CenturyGothicBold", sans-serif;
	text-align: center;
	border-radius: 10px;
	display: inline-block;
	border-radius: 21px;
	padding: 0 83px;
	margin-right: 43px;
	border: none;
	outline: none !important;
	&.red {
		background-color: #823d60;
		margin-right: 0;
		padding: 0;
		font-size: 21px;
		text-transform: uppercase;
		height: 55px;
		line-height: 55px;	
		cursor: pointer;
	}
}
header {
	background: url('../img/head_bg.png') no-repeat;
	padding: 38px 0px 35px 0;
	background-size: cover;
		.title1{
			font-family: "CenturyGothicBold", sans-serif;
			font-size: 25px;
			&.start {
				font-family: $default-font;
			}
			
		}
		.title2{
			font-family: "CenturyGothicBold", sans-serif;
			font-size: 34px;
		}
}
.head {
	&__top {
		display: flex;
		color: #fff;
		&-left {
			margin-right: 203px;
		}
		&-left,&-right {
			flex: 0 0 auto;
			span {
				display: block;
				letter-spacing: 1.5px;
				line-height: 1;
			}
		}
	}
	&__mid {
		font-family: "CenturyGothicBold", sans-serif;
		color: $accent;
		font-size: 54px;
		margin: 59px 0px 81px 0px;
		letter-spacing: 3px;
	}
	&__bottom {
			color: #fff;
		&-text {
			font-family: "CenturyGothicBold", sans-serif;
			max-width: 640px;
			font-size: 21px;
			line-height: 1.4;
			margin-bottom: 35px;
		}
		.title2 {
			padding-left: 38px;
			margin-bottom: 16px;
		}
	}
}
.video {
	background: url('../img/video.png') no-repeat;
	background-position: center top;
	padding: 62px 0px 69px 0;
	text-align: center;
	&__container {
		margin-right: 35px;
	}
	&__play {
		width: 99px;
		height: 99px;
		background: url('../img/play.png') no-repeat;
		display: inline-block;
	}
	&__txt {
		color: #fff;
		font-size: 18px;
		line-height: 1.4;
	}
}
.reasons {
	background: url('../img/reasons.png') no-repeat;
	background-position: center top;
	padding: 18px 0px 41px 0px;
	&__title {
		font-family: "CenturyGothicBold", sans-serif;
		font-size: 34px;
		color: $accent;
		text-transform: uppercase;
		margin-bottom: 19px;
	}
	&__list {
		margin: auto;
		max-width: 834px;
		&-block {
			margin-bottom: 4px;
			.icon {
				width: 55px;
				height: 55px;
				margin-right: 13px;
			}
			.text {
				text-align: justify;
				font-size: 14px;
				line-height: 14px;
				padding-right: 40px;
				font-weight: bold;
				letter-spacing: 1px;
				&:first-letter {
					font-weight: bold;
					color: $accent;
					font-size: 16px;
					text-transform: uppercase;
				}
			}

		}
	}
}
.slider1 {
	    padding: 16px 0 27px 0px;
	    background:url('../img/slider1_bg.jpg') no-repeat;
	&__title {
		text-align: center;
		letter-spacing: 2px;
		font-family: "CenturyGothicBold", sans-serif;
		color: #fff;
		text-transform: uppercase;
		font-size: 34px;
		text-shadow: -1px -1px 14px rgba(255, 255, 255, 1);
	}
	&__container {
		padding: 0px 156px;
	}
	.slick-list {
		
		padding-top: 30px !important;
		padding-bottom: 30px !important;
	}
	.slick-prev,.slick-next {
		height: 285px;
		width: 156px;
		z-index: 9;
		margin-top: -5px;
		&:before {
			position: absolute;
			display: block;
			height: 285px;
			width: 156px;
			content: "";
			top: 42px;
		}
	}
	.slick-prev {	
left: 0;
background-image: linear-gradient(to right, transparent, rgba(130,61,96,1));



		&:before {
			background: url("../img/arrow_left.svg") no-repeat;
		}
	}
	.slick-next {
right: 0;
background-image: linear-gradient(to left, transparent, rgba(130,61,96,1));

		&:before {
			background: url("../img/arrow_right.svg") no-repeat;
		}
	}
	&__wrapper {
		 padding: 30px 0px;
   		 // overflow: hidden;
	}
		.slick-center {
			transform: scale(1.08,1.08);
			z-index: 10;
			// min-width: 224px;
			
			.slider1__slide {
				opacity: 1;
				background-color: #1b252f;
				box-shadow: -1px -1px 14px rgba(255, 255, 255, 1);
			}
			.slider1__slide-text {
				display: block;
			}
			.slider1__slide-num {
				background:url('../img/slider_num.png') no-repeat;
				background-size: contain;
				background-position: center 6px;
			}

		}

	&__slide {
		opacity: 0.5;
		background-color: #161b21;
		color: #fff;
		text-align: center;
		padding: 8px 11px;
		padding-bottom: 51px;
		min-height: 285px;
		max-height: 285px;
		overflow: hidden;
		&-text {
			display: none;
			text-shadow: -1px -1px 2px rgba(255, 255, 255, 1);
			font-size: 16px;
			line-height: 1.5;
		}
		&-num {
				position: relative;
			margin-bottom: 24px;
			display: flex;
			align-items: center;
			justify-content: center;
			font-family: "CenturyGothicBold", sans-serif;
			font-size: 63px;
			line-height: 63px;
			text-align: center;
			height: 130px;
			&:after {
				content:'';
				height: 5px;
				width: 100%;
				position: absolute;
				bottom: 0;
				background-color: #fff;
				box-shadow: 0px 0px 13px 0px rgba(255,255,255,1);
			}
		}
	}
	&__text {
		display: inline-block;
		max-width: 590px;
		color: #fff;
		padding: 24px 50px;
		margin-top: 10px;
		background-color: rgba(0, 0, 0, 0.4);
		position: relative;
		font-family: "CenturyGothicBold", sans-serif;    
		line-height: 1.4;
		&:before {
			content: "";
			width: 30px;
			height: 100%;
			border-left: 10px solid #fff;
			border-top: 10px solid #fff;
			border-bottom: 10px solid #fff;
			position: absolute;
			left: 0;
			top: 0;
		}
		&:after {
			content: "";
			width: 30px;
			height: 100%;
			border-right: 10px solid #fff;
			border-top: 10px solid #fff;
			border-bottom: 10px solid #fff;
			position: absolute;
			right: 0;
			top: 0;
		}

	}
}
.program {
	padding: 53px 0px 42px 0px;
	background:url('../img/prog_bg.png') no-repeat;
	&__container {
		padding: 0 82px;
		&-row {
			margin-bottom: 26px;
		}
	}
	&__icon {
		margin-right: 51px;
		width: 45px;
		flex: 0 0 auto;
		text-align: center;
	}

	&__desc {
		flex: 0 0 auto;
		margin-right: 51px;
		min-width: 231px;
	}
	&__text {
		font-size: 23px;
		line-height: 1.1;
		span {	
			font-family: "CenturyGothicBold", sans-serif;    
			line-height: 1.4;
		}
		&-num {
			font-size: 50px;
			font-family: "CenturyGothicBold", sans-serif;   
			line-height: 1;
		}
	}
}
.days {
	padding: 25px 0px 0px 0px;
	&__title {
		color: #fff;
		font-family: "CenturyGothicBold", sans-serif;   
		text-transform: uppercase;
		text-align: center;
		font-size: 34px;
		margin-bottom: 12px;
		&.about {
			margin-bottom: 24px;
		}

	}
	&__card {
		background:url('../img/days_bg.png') no-repeat;
		background-size: cover;
		padding: 11px 54px 35px 54px;
		margin-bottom: 17px;
			h3 {
			font-family: "CenturyGothicBold", sans-serif;  
			font-size: 21px;
			color: $accent;
			text-transform: uppercase;
			margin-bottom: 0;
			&:first-letter {
				font-size: 32px;
			}

		}
		&-col {
			padding-left: 74px;
		}
		&-text {
			font-size: 21px;
			line-height: 1.2;
		}
	}
	&__container {
		padding:0 45px;
	}
}
.about {
	&__title {
			font-family: "CenturyGothicBold", sans-serif;  
			font-size: 25px;
			color: #fff;
			text-transform: uppercase;
			line-height: 1.2;
			margin-bottom: 42px;
			span {
				color:#823d60;
			}
			&.title2 {
				font-size: 17px;
				color:#823d60;
				margin-bottom: 16px;
			}

	}
	&__text {
		font-family: 'HelveticaNeueCyrRoman', sans-serif;
		font-size: 17px;
		color: #fff;
	}
	ul {
		li {
			margin-bottom: 18px;
		}
	}
	&__note {
		position: relative;
		color: #fff;
		font-family: "CenturyGothicBold", sans-serif;  
		font-size: 19px;
		text-transform: uppercase;
		line-height: 1.2;
		padding: 52px 20px 52px 20px;
		&:before,&:after {
			font-family: "CenturyGothicBold", sans-serif;  
			font-size: 127px;
			color: #fff;
			position: absolute;
			line-height: 1;
		}
		&:before{
			content:"“";
			left: 0;
			top: -27px;
		}
		&:after{
			content:"”";
			right: 0;
			bottom: -37px;
		}
	}
}
.options {
	padding: 7px 0px 64px 0px;
	background:url('../img/options_bg.png') no-repeat;
	background-position: center top;
	&__title {
			font-family: "CenturyGothicBold", sans-serif; 
			font-size: 34px;
		text-transform: uppercase;
		margin-bottom: 17px;

	}
	&__note {    
		padding: 0 44px;
		display: inline-block;
		font-size: 21px;
		text-transform: uppercase;
		color: #fff;
		background: #5122ba;
		background: -moz-linear-gradient(left, #5122ba 0%, #8459c8 100%);
		background: -webkit-linear-gradient(left, #5122ba 0%,#8459c8 100%);
		background: linear-gradient(to right, #5122ba 0%,#8459c8 100%); 
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5122ba', endColorstr='#8459c8',GradientType=1 ); 
		&:after {
			content:"";
			background:url('../img/options_note.png') no-repeat;
			display: inline-block; 
			width: 175px;
			height:168px;
			position: absolute;
			top: -78px;
			right: 0;
		}
		&-container {
			position: relative;
			margin-bottom: 43px;
		}
	}
	.checkbox {
		position: relative;
		cursor: pointer;
		background:url('../img/checkbox_type1.jpg') no-repeat;
		background-size: cover;
		padding: 32px 15px 72px 15px;
		height: 100%;
		display: flex;
		align-items: center;
		input[type="checkbox"] {
			visibility: hidden;
			opacity: 0;
			position: absolute;
			& + label {
				color: #fff;
				text-align: center;
				font-family: "CenturyGothicBold", sans-serif; 
				font-size: 21px;
				display: block;
				line-height: 1;
				margin-bottom: 0;
				&:after {
					position: absolute;
					bottom: 22px;
					left: calc(50% - 24px);
					content: '';
					background-color: #fff;
					border: 2px solid #959595;
					width: 48px;
					height: 38px;
					display: inline-block;
					box-shadow: inset 0px 0px 4px 0px rgba(0,0,0,0.75);
					cursor: pointer;
				}

				
			}
			&:checked + label:after {
				background-image:url('../img/checkbox_active.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
			}
		}
		&__container {
			margin-bottom: 30px;
			.col-md {
				padding-right: 15px;
				&:last-of-type {
					padding-right: 0;
				}
			}
		}
		&.type2 {
			background:url('../img/checkbox_type2.jpg') no-repeat;
		background-size: cover;
		}
		&.type3 {
			background:url('../img/checkbox_type3.jpg') no-repeat;
		background-size: cover;
		}
		&.type4 {
			background:url('../img/checkbox_type4.jpg') no-repeat;
		background-size: cover;
		}
		&.type5 {
			background:url('../img/checkbox_type5.jpg') no-repeat;
		background-size: cover;
		}
	}
	.button.red {
		width: 100%;
	}
	.total {
		color: #482150;
		font-size: 40px;
		font-family: "CenturyGothicBold", sans-serif; 
		line-height: 1;
		&__discount {
			font-size: 12px;
			color: #585858;
			margin-bottom: 15px;
		}
		&__container {
			width: 100%;
		}
	}
}
.prices {
	padding: 19px 0px 97px 0px;
	background:url('../img/prices_bg.jpg') no-repeat;
	&__title {
		text-align: center;
		letter-spacing: 2px;
		font-family: 'CenturyGothicBold',sans-serif;
		color: #fff;
		text-transform: uppercase;
		font-size: 34px;
		text-shadow: -1px -1px 14px #fff;
		margin-bottom: 44px;
	}
	&__container {
		font-size: 31px;
		color: #fff;
		font-family: 'CenturyGothicBold',sans-serif;
		text-align: center;
		line-height: 1.5;
		padding: 0 70px;
		.date {
			font-size: 48px;
			display: block;
			color: $accent;
			text-transform: uppercase;
			line-height: 1;
		}
		span {
			color: $accent;
			font-size: 78px;
			text-transform: uppercase;
			line-height: 1;
		}
		&-close {
			font-family: $default-font;
			letter-spacing: 2px;
			margin-top: 15px;
			margin-bottom: 123px;
		}
		strong {
			font-family: 'CenturyGothicBold',sans-serif;
		}
	}
	h3 {
		font-family: 'CenturyGothicBold',sans-serif;
		text-transform: uppercase;
		color: $accent;
		font-size: 34px;
		text-align: center;
		margin-bottom: 45px;
	}
	&__sale {
		color: #fff;
		font-size: 24px;
		line-height: 32px;
		font-family: 'CenturyGothicBold',sans-serif;
		background:url('../img/prices__sale.png') no-repeat;
		background-position: 94px -5px;
		text-align: center;
		span {
			font-size: 48px;
		}
		&-motiv {
			font-size: 24px;
			line-height: 32px;
			text-transform: uppercase;
			font-family: 'CenturyGothicBold',sans-serif;
			text-align: center;
			color: #fff;
		}
	}
	.gray_text {
		margin-bottom: 27px;
	}
}
.reviews {
	padding: 19px 0px 100px 0px;
	background:url('../img/reviews_bg.jpg') no-repeat;
	background-position: center;
	&__title {
		text-align: center;
		letter-spacing: 2px;
		font-family: 'CenturyGothicBold',sans-serif;
		color: #fff;
		text-transform: uppercase;
		font-size: 34px;
		text-shadow: -1px -1px 14px #fff;
		margin-bottom: 44px;
	}
	&__item {
		background:#ffffff;
		border-radius: 20px;
		padding: 16px 23px;
		&-title {
		font-family: 'CenturyGothicBold',sans-serif;
		font-size: 30px;
		color: $accent;
		margin-bottom: 0;
		line-height: 47px;

		}
		&-pos {
			font-family: 'CenturyGothicBold',sans-serif;
			font-size: 19px;
			color: #8b8b8b;
		}
		&-text {
			font-size: 21px;
		}
	}
	.slider2__container {
		    padding: 0 134px;
		.slick-prev,.slick-next {
			height: 285px;
			width: 156px;
			z-index: 9;
			&:before {
				position: absolute;
				display: block;
				height: 285px;
				width: 156px;
				content: "";
				top: 42px;
			}
		}
		.slick-prev {	
			left: 0;
			&:before {
				background: url("../img/arrow_left.svg") no-repeat;
			}
		}
		.slick-next {
			right: 0;
			&:before {
				background: url("../img/arrow_right.svg") no-repeat;
			}
		}
	}
}
.gray_text {
	color: #6c6c6c;
	font-size: 22px;
}
@import "media"; // Always at the end
